body {
  background: #fff2ff;
}

#main_container {
  background: white;
  position: relative;
  top: 0;
  margin-top: 20mm;
  margin-bottom: 20mm !important;
  width: 100%;
  max-width: 210mm;
  height: auto;
  min-height: 297mm;
  left: 50%;
  transform: translate(-50%);
  filter: drop-shadow(0 0 2px black);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: stretch;
}

#left_side {
  background: purple;
  width: 100%;
  max-width: 75mm;
  height: auto;
  min-height: 297mm;
  position: relative;
  display: flex;
}

#right_side {
  background: white;
  width: 100%;
  height: auto;
  min-height: 297mm;
  display: flex;
  padding: 0;
  position: relative;
}

#content_container {
  position: relative;
  display: block;
  width: 90%;
  height: 270mm;
  background: white;
  margin: auto;
  left: -5%;
  border: 8px solid purple;
}

#content_container h1 {
  font-size: 300%;
  text-align: left;
  margin: 20px 50px 10px 30px;
}

.subtitle {
  background: purple;
  margin: 15px 10px 0 30px;
  display: inline-block;
  text-align: right;
  padding: 0;
  width: 195px;
  position: relative;
}

.subtitle p {
  margin: 7px;
  padding: 0 10px 0 80px;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  word-spacing: 2px;
  position: relative;
}

.subtitle::after {
  content: "";
  position: absolute;
  background: white;
  left: 32px;
  top: 0;
  height: 100%;
  width: 20px;
}

#right_content {
  display: block;
  position: relative;
  background: transparent;
  width: auto;
  height: auto;
}

#line {
  position: absolute;
  display: block;
  background: purple;
  width: 7px;
  top: 20px;
  left: 42px;
  height: calc(100% - 28px);
}

.content_txt {
  margin: 15px 10px 0 80px;
  letter-spacing: 1px;
  word-spacing: 2px;
  color: black;
}

.content_txt small {
  color: #252525;
}

#my_img {
  width: 70%;
  display: block;
  position: relative;
  height: auto;
  left: 50%;
  transform: translate(-50%);
  border-radius: 50%;
  margin-top: 33px;
  margin-bottom: 30px;
}

#left_content {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  margin: 40px 30px;
  background: transparent;
  color: #fafafa;
  letter-spacing: 1px;
  word-spacing: 2px;
}

#left_content a,
#left_content a:visited,
#left_content a:link,
#left_content a:active {
  color: #fafafa;
  display: block;
  margin: 10px 0;
}

#less_margins_below ~ p {
  margin-bottom: 0;
}

hr {
  height: 5px;
  padding: 0;
  margin: 0;
  background: white;
}

@media only screen and (max-width: 210mm) {
  #main_container {
    flex-wrap: wrap;
  }
  #left_side {
    width: calc(100% - 52px);
    margin-top: 26px;
    max-width: 100%;
  }

  #my_img {
    width: 40%;
    max-width: 180px;
  }

  #content_container {
    left: 0;
    height: auto;
    min-height: 250mm;
    margin-bottom: 30px;
  }
}
